{% extends 'caretaker/base.html' %}

{% block content%}
	<div class="page-header">   
		<h1> About the site </h1>
	</div>
 	<p> This site was designed as a way for people who live or work as caregivers to find support and solutions to issues they face.
	</p>


	<div class="page-header">
		<h1> How to use this site</h1>
	</div>
	<p> If you are new to this site, click on the "Demo" tab in the navigation toolbar above to log in as a guest and see what a sample user's profile looks like. </p>
	<p> After signing in, you are able to check your clients or loved ones' profiles, add positive or negative behaviors to their profiles and find interventions other caregivers have used to address behavioral issues.  </p>
	
{% endblock %}
