{% load staticfiles %}
<html>
  <head>
    <title> Care Community </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=News+Cycle" />
    <link rel="stylesheet" href="{% static 'css/caretaker.css' %}">
   {% if user.is_authenticated %}
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/account/logout">Log out</a></li>
      <li><a href="{% url 'profiles_list' %}">Profile</a></li>
    </ul>
    {% else %}
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'login' %}">Log in</a></li>
      <li><a href="/account/signup">Sign up</a></li>
    </ul>
    {% endif %}
  </head>
  <body>

      {% if user.is_authenticated %}
        <div id="greeting"><p>Welcome, {{ user.first_name }}. Thanks for logging in.</p></div>
      {% else %}
        <div id="greeting"><p>Welcome. Please log in.</p></div>
      {% endif %}



    {% block content %}
    {% endblock %}
  </body>
</html>
